/datasets/__init__.py
/data/Quadriga/LOS/128rx/quadriga_eval.npy
/data/Quadriga/mixed/128rx/quadriga_eval.npy
/data/Quadriga_mimo/mixed/32rx4tx/quadriga_eval.npy
/data/Quadriga/LOS/128rx/quadriga_test.npy
/data/Quadriga/mixed/128rx/quadriga_test.npy
/data/Quadriga_mimo/mixed/32rx4tx/quadriga_test.npy
/data/Quadriga/LOS/128rx/quadriga_train.npy
/data/Quadriga/mixed/128rx/quadriga_train.npy
/data/Quadriga_mimo/mixed/32rx4tx/quadriga_train.npy
/data/3GPP/32rx/scm3gpp_1-path-eval.npy
/data/3GPP/128rx/scm3gpp_1-path-eval.npy
/data/3GPP_mimo/32rx4tx/scm3gpp_1-path-eval.npy
/data/3GPP/32rx/scm3gpp_1-path-test.npy
/data/3GPP/128rx/scm3gpp_1-path-test.npy
/data/3GPP_mimo/32rx4tx/scm3gpp_1-path-test.npy
/data/3GPP/32rx/scm3gpp_1-path-train.npy
/data/3GPP/128rx/scm3gpp_1-path-train.npy
/data/3GPP_mimo/32rx4tx/scm3gpp_1-path-train.npy
/data/3GPP/32rx/scm3gpp_3-path-eval.npy
/data/3GPP/128rx/scm3gpp_3-path-eval.npy
/data/3GPP_mimo/32rx4tx/scm3gpp_3-path-eval.npy
/data/3GPP/32rx/scm3gpp_3-path-test.npy
/data/3GPP/128rx/scm3gpp_3-path-test.npy
/data/3GPP_mimo/32rx4tx/scm3gpp_3-path-test.npy
/data/3GPP/32rx/scm3gpp_3-path-train.npy
/data/3GPP/128rx/scm3gpp_3-path-train.npy
/data/3GPP_mimo/32rx4tx/scm3gpp_3-path-train.npy
